name: Python Django CI/CD vers Render

on:
  push:
    # Déclenchement automatique pour les push sur les branches de déploiement
    branches: [ master, main ] 
  pull_request:
    # Déclenchement pour les Pull Requests (pour la CI)
    branches: [ master, main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # Étape 1 : Récupérer le code
      - name: Checkout Repository
        uses: actions/checkout@v4 
      
      # Étape 2 : Configurer Python 3.11
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      # Étape 3 : Débogage - Lister les fichiers à la racine pour confirmer le chemin
      - name: Debug: List Files at Root
        run: ls -lR
        
      # Étape 4 : Installer les dépendances 
      - name: Install dependencies
        run: |
          echo "Installation des dépendances..."
          python -m pip install --upgrade pip
          # Le chemin est maintenant confirmé comme étant la racine
          pip install -r requirements.txt
        
      # Étape 5 : Exécuter les tests unitaires (CI)
      - name: Run Django Tests
        run: python manage.py test 

      # Étape 6 : Déployer sur Render (CD)
      - name: Deploy to production (Render)
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.SERVICE_ID }}
          # Utilisez RENDER_API_KEY comme secret pour le token Render
          api-key: ${{ secrets.COURSE_SERVICE_KEY }}
